body {
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(img/adult.jpg);
    background-size: cover;
}
a {
    color: yellow;
    text-decoration: blink;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 10px;
}
.signup {
    background: rgba(44, 62, 80, 0.9);
    padding: 40px;
    width: 250px;
    margin: auto;
    height: 470px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 15px;
}
form {
    width: 240px;
    text-align: center;
}
input {    
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid#fff;
    font-family: 'play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 4px 0;
    transition: border 0.5s;
    outline: none;
    color: #ffff;
    margin-top: 0px;
}
input[type=button] {
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover {
    opacity: 1;
    color: #fff;
    background-color: rgba(153, 168, 184, 0.5);
}

input[type=button]:active {
    background-color: gray;
    box-shadow: 0 5px #666;
    transform: translateY(2px)
}
h2 {
    color: #000;
}
::placeholder {
    color: aliceblue;
    opacity: 0.8; /*Firefox*/
}